*{
    box-sizing: border-box;
    
}
body{
    background-color: white;
    color: #05595B;
    margin: 5px;
}

ul.nav {
    list-style: none;
    background-color:#062C30;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
li {
    float: left;

}

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-family: fantasy;
    color: #E0DDAA;
}
li a:hover{
    background-color: #E0DDAA;
    color: #062C30;
    transition: 1s;
}

dl, dd, dt {
    color: black;
    
}
dt {
    font-size: 20px;
    font-weight: bold;
}
dd {
    font-size: 15px;
    font-family: cursive;
    color: #3E497A;
    font-weight: bold;
}

h2.seccion {
    font-size: 50px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

a.linksolo:link{
color: #5F939A;
text-decoration: none;
font-family: fantasy;

}
a.linksolo:visited {
    color: #9A0680;
text-decoration: none;

}
a.linksolo:hover{
    color: #FF1818;
    transition: 1.5s;
    text-decoration: underline;
}
a.linksolo:active{
    color: #062C30;
    text-decoration: underline;
}

/* BOTONES EN CSS 
a.btnlink:link, a.btnlink:visited 
{ 
background-color: #05595B;
color:#F5F5F5;
padding: 30px 20px;
text-align: center;
border: 2px solid black;
border-radius: 10px;
float: right;
}

a.btnlink:hover, a.btnlink:active {
 background-color: #3E497A;
 color: #F1D00A;
 text-decoration: underline;
 transition: 0.7s;
}
 BOTONES EN CSS , LOS ESTOY BORRANDO PORQUE ALFINAL LO PUSE EN UNA LISTA DE NAVEGACION ARRIBA*/

h1 {
    background-color: #062C30;
    color: #F5F5F5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: auto;
    line-height: 55px;
    font-size: 50px;
    
}

#boxmodel {
    border: 3px solid black;
    border-radius: 5px;
    width: 24.99%;
   
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background:url(Imagenes/espacio.jpg) no-repeat center;
}


#boxcontent {
text-align: center;
font-size: 40px;
color:#F5F5F5;
border: 1px solid black;
border-radius: 5px;
font-family:fantasy;
font-weight: bold;
background-color: #05595B;
overflow: auto;

}


table, th, td{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    
    
}



caption {
    color:#3E497A;
    font-family:trocchi, serif;
    font-size: 50px;
    line-height: 70px; 
    background-color: #E0DDAA;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
}

th {
    color: #F5F5F5;
    background-color: #141E27;
    font-family:'Trebuchet MS';
}

 tr:nth-child(even)  {
     color:black;
     background-color: #EEEDDE;
 }
 tr:nth-child(odd) {
     background-color: #92A9BD;
     color:black;
 }






/* ASI SE HACE UN COMENTARIO EN CSS */
