
@keyframes rotate-vert-center {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    background: url("Imagenes/fondo.png") repeat center;
    background-attachment: fixed;
    margin-left: 1px;
    margin-right: 1px;
    
}

ul.nav {
    list-style: none;
    background-color: #589ae4;
    background-image: linear-gradient(270deg, #589ae4 0%, #2521a0 50%, #00092c 100%);
    


    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
li {
    float: left;

}

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-family: fantasy;
    color: #DDDDDD;
}
li a:hover{
    background-color: #DDDDDD;
    color: #062C30;
    transition: 1s;
}

dl, dd, dt {
    color: black;
    
}
dt {
    font-size: 20px;
    font-weight: bold;
}
dd {
    font-size: 15px;
    font-family: cursive;
    color: #3E497A;
    font-weight: bold;
}

h2.seccion {
    font-size: 50px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

a.linksolo:link{
color: #5F939A;
text-decoration: none;
font-family: fantasy;

}
a.linksolo:visited {
    color: #9A0680;
text-decoration: none;

}
a.linksolo:hover{
    color: #FF1818;
    transition: 1.5s;
    text-decoration: underline;
}
a.linksolo:active{
    color: #062C30;
    text-decoration: underline;
}
.icnav{
    font-size: 25px;
    margin: -10px 30px;
    
}

/* BOTONES EN CSS 
a.btnlink:link, a.btnlink:visited 
{ 
background-color: #05595B;
color:#F5F5F5;
padding: 30px 20px;
text-align: center;
border: 2px solid black;
border-radius: 10px;
float: right;
}

a.btnlink:hover, a.btnlink:active {
 background-color: #3E497A;
 color: #F1D00A;
 text-decoration: underline;
 transition: 0.7s;
}
 BOTONES EN CSS , LOS ESTOY BORRANDO PORQUE ALFINAL LO PUSE EN UNA LISTA DE NAVEGACION ARRIBA*/

h1 {
    background-color: #589ae4;
    background-image: linear-gradient(270deg, #589ae4 0%, #2521a0 50%, #00092c 100%);
    

    color: #F5F5F5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-family: 'Pacifico';
    text-shadow: 5px 5px 5px #92A9BD;
    line-height: 60px;
    font-size: 40px;
    font-variant: small-caps;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.corazon {
    color: crimson;
    font-size: 50px;
    vertical-align:middle;
    margin: 10px;
    
}

div.boxdad {
    width: 100%;
    margin: 40px 0px;
    position: relative;
}
.boxmodel {
    border: 3px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 20px 20px;
    padding: 40px;
    background:url(Imagenes/espacio.jpg) no-repeat center;
    display: inline-block;
}


#boxcontent {
text-align: center;
font-size: 40px;
color:#F5F5F5;
border: 1px solid black;
border-radius: 5px;
font-family:fantasy;
font-weight: bold;
background-color: #143F6B;
overflow: auto;

}

#sec1 {
    background: linear-gradient(#00092C, #143F6B, #488FB1, #42C2FF);
    
    border: 1px solid white;
    border-radius: 10px;

}
#h2sec1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    width: 300px;
    margin: 20px auto;

}


table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

table, th, td{
    border: 2px dotted black;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;  
    
    
}



caption {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 70px; 
    background-color: #E3CAA5;
    border: 2px dotted black;
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
    width:800px;
}

th {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    
    
    background-color: #92A9BD;
    font-family:'Trebuchet MS';
    font-weight: bolder;
    font-size: 20px;
}

#thimg {
    width: 100%;
    padding: 0px;
}

 tr:nth-child(even)  {
     color:black;
     background-color: #EEEDDE;
 }
 tr:nth-child(odd) {
     background-color: #FFF89A;
     color:black;
 }
 iframe {
     border: 2px solid #000;
     border-radius: 10px;
     width: 100%;
     height: 400px;
    
 }
 #divframeboton{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
 }
 #iframeboton:visited, #iframeboton:link {
     display: block;
     text-align: center;
     background-color: #EEEDDE;
     padding: 10px;
     margin-top: 20px;
     margin-bottom: 20px;
     border: 3px solid #143F6B;
     outline: 5px ridge #488FB1;
     border-radius: 5px;
     text-decoration: none;
     color: #143F6B;
     font-family: fantasy;
 }

#iframeboton:hover {
    background-color: #FF9F45;
    color: #2C3333;
    transition: 1s;
}

div.divformulario{
    margin-top: 50px;
}
div.fomulario {
    margin-top: 100px;
}

div.conteinercont {
    width: 900px;
    margin: 50px auto;
    background: linear-gradient(#00092C, #143F6B, #488FB1, #42C2FF);
    border: 2px solid black;
    border-radius: 10px;
 }

.conteinerform {
  margin: 50px auto;
  width: 500px;
  padding: 50px;
  background-color: rgba(0, 0, 0, .5) ;
  border-radius: 10px;
}

.conteinerform h3 {
    color: #143F6B;
    margin: 0px 0px 30px 0px;
    text-align: center;
    padding: 0px;
    font-size: 30px; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: linear-gradient(#8D8DAA, #DDDDDD, #EEEEEE);
    border-radius: 10px;
    
}

.conteinerform .element label {
    color: #DDDDDD;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
} 

.conteinerform .element input {
    width: 100%;
    padding: 10px;
    color: #DDDDDD;
    background: transparent;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.conteinerform .element input[type="submit"] {
    background-color: #000 ;
    background-color: transparent;
    letter-spacing: 2px;
    color: #DDDDDD;
    font-weight: bolder;
    font-size: 20px;
    font-family: fantasy;
    cursor: pointer;
    padding: 15px;
    
}

.conteinerform .element input[type="submit"]:hover {
    background-color: #FF9F45 ;
    color: #0C1E7F;
    transition: 1.5s;
    
    
}



div.rotate-vert-center {
    position: fixed;
    bottom: 5px;
    right: 10px;
background-color: #000;
border-radius: 10px;
animation: rotate-vert-center 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;

background-color:#00092c
}

div.rotate-vert-center:hover {
    background-color: whitesmoke;
    transition: 2s;

}
.ghicon {
    font-size: 40px;
    color: #488FB1;
}
.ghicon:hover {
    color: #00092C;
    transition: 2s;
}

/* PAGINA ACERCA DE */

