*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    margin-left: 1px;
    margin-right: 1px;
    
}

ul.nav {
    list-style: none;
    background-color:#062C30;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
li {
    float: left;

}

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-family: fantasy;
    color: #E0DDAA;
}
li a:hover{
    background-color: #E0DDAA;
    color: #062C30;
    transition: 1s;
}

dl, dd, dt {
    color: black;
    
}
dt {
    font-size: 20px;
    font-weight: bold;
}
dd {
    font-size: 15px;
    font-family: cursive;
    color: #3E497A;
    font-weight: bold;
}

h2.seccion {
    font-size: 50px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

a.linksolo:link{
color: #5F939A;
text-decoration: none;
font-family: fantasy;

}
a.linksolo:visited {
    color: #9A0680;
text-decoration: none;

}
a.linksolo:hover{
    color: #FF1818;
    transition: 1.5s;
    text-decoration: underline;
}
a.linksolo:active{
    color: #062C30;
    text-decoration: underline;
}

/* BOTONES EN CSS 
a.btnlink:link, a.btnlink:visited 
{ 
background-color: #05595B;
color:#F5F5F5;
padding: 30px 20px;
text-align: center;
border: 2px solid black;
border-radius: 10px;
float: right;
}

a.btnlink:hover, a.btnlink:active {
 background-color: #3E497A;
 color: #F1D00A;
 text-decoration: underline;
 transition: 0.7s;
}
 BOTONES EN CSS , LOS ESTOY BORRANDO PORQUE ALFINAL LO PUSE EN UNA LISTA DE NAVEGACION ARRIBA*/

h1 {
    background-color: #062C30;
    color: #F5F5F5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: auto;
    line-height: 60px;
    font-size: 50px;
    
}

#boxmodel {
    border: 3px solid black;
    border-radius: 5px;
    width: 24.99%;
    margin-top:20px ;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background:url(Imagenes/espacio.jpg) no-repeat center;
}


#boxcontent {
text-align: center;
font-size: 40px;
color:#F5F5F5;
border: 1px solid black;
border-radius: 5px;
font-family:fantasy;
font-weight: bold;
background-color: #05595B;
overflow: auto;

}

#sec1 {
    background-color: #143F6B;
    
    border: 1px solid white;
    border-radius: 10px;

}
#h2sec1 {
    color: white;
}


table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

table, th, td{
    border: 2px dotted black;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;  
    
    
}



caption {
    color:#3E497A;
    font-family:trocchi, serif;
    font-size: 50px;
    line-height: 70px; 
    background-color: #E3CAA5;
    border: 2px dotted black;
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
    width:800px;
}

th {
    color: #000;
    background-color: #92A9BD;
    font-family:'Trebuchet MS';
    font-weight: bolder;
    font-size: 20px;
}

#thimg {
    width: 100%;
    padding: 0px;
}

 tr:nth-child(even)  {
     color:black;
     background-color: #EEEDDE;
 }
 tr:nth-child(odd) {
     background-color: #FFF89A;
     color:black;
 }
 iframe {
     border: 2px solid #000;
     border-radius: 10px;
     width: 100%;
     height: 400px;
    
 }
 #divframeboton{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
 }
 #iframeboton:visited, #iframeboton:link {
     display: block;
     text-align: center;
     background-color: #EEEDDE;
     padding: 10px;
     margin-top: 20px;
     margin-bottom: 20px;
     border: 5px ridge grey;
     border-radius: 5px;
     text-decoration: none;
     color: #143F6B;
     font-family: fantasy;
 }

#iframeboton:hover {
    background-color: #FF9F45;
    color: #2C3333;
    transition: 1s;
}

div.divformulario{
    margin-top: 50px;
}
div.fomulario {
    margin-top: 100px;
}

div.conteinercont {
    width: 900px;
    margin: 50px auto;
    background: linear-gradient(#00092C, #143F6B, #488FB1, #42C2FF);
    border: 2px solid black;
    border-radius: 10px;
 }

.conteinerform {
  margin: 50px auto;
  width: 500px;
  padding: 50px;
  background-color: rgba(0, 0, 0, .5) ;
  border-radius: 10px;
}

.conteinerform h3 {
    color: #143F6B;
    margin: 0px 0px 30px 0px;
    text-align: center;
    padding: 0px;
    font-size: 30px; 
    font-family:serif;
    font-weight: bolder;
    background: linear-gradient(#8D8DAA, #DDDDDD, #EEEEEE);
    border-radius: 10px;
    
}

.conteinerform .element label {
    color: #DDDDDD;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
} 

.conteinerform .element input {
    width: 100%;
    padding: 10px;
    color: #DDDDDD;
    background: transparent;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.conteinerform .element input[type="submit"] {
    background-color: #000 ;
    background-color: transparent;
    letter-spacing: 2px;
    color: #DDDDDD;
    font-weight: bolder;
    font-size: 20px;
    font-family: fantasy;
    cursor: pointer;
    padding: 15px;
    
}

.conteinerform .element input[type="submit"]:hover {
    background-color: #FF9F45 ;
    color: #0C1E7F;
    transition: 1.5s;
    
    
}

/* PAGINA ACERCA DE */

